%h2
  User...
  =@user.name
  =@user.last_name
%h3 
  your cars:
  -@user.cars.each do |f|
    =f.model
    =f.brand
    =link_to "edit", edit_user_car_path(@user.id, f.id)
    =link_to "show", user_car_path(@user.id, f.id)
    %br/
=link_to 'Add car', new_user_car_path(@user.id)    
=link_to 'Back', :back
